{% extends "layout.njk" %}
	{% block content %}
				<section id="login-sec">
					<h2>Login</h2>
					<form onsubmit="validateLoginForm(event)">
						<div>
							<label for="email-log">Email</label>
							<input type="email" name="email" id="email-log">
						</div>
						<div>
							<label for="password-log">Password</label>
							<input type="password" name="password" id="password-log">
						</div>
						<div>
							<input type="submit" value="Login">
							<button type="button" onclick="toggleForms()">OR register if you don't have an account</button>
						</div>
					</form>
				</section>
				<section id="reg-sec" hidden>
					<h2 id="register">Register</h2>
					<form onsubmit="validateRegisterForm(event)">
						<div>
							<label for="email-reg">Email</label>
							<input type="email" name="email" id="email-reg" required>
						</div>
						<div>
							<label for="password-reg">Password</label>
							<input type="password" name="password" id="password-reg" required>
						</div>
						<div>
							<label for="fullname">Full Name</label>
							<input type="text" name="fullname" id="fullname" required>
						</div>
						<div>
							<label for="bio">Bio</label>
							<textarea name="bio" id="bio" rows="3" cols="18" required></textarea>
						</div>
						<div>
							<label for="avatar">Avatar Image</label>
							<input type="file" name="avatar" id="avatar">
						</div>
						<div>
							<input type="submit" value="Create Profile">
						</div>
					</form>
				</section>
	{% endblock %}
